@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@font-face {
  font-family: YouTubeSansRegular;
  src: url('./assets/font/YouTubeSansRegular.otf') format('opentype');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:root {
  /* --sideBarX: -250px; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: YouTubeSansRegular, sans-serif;
}

nav input {
  outline: none;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.251);
  margin: 6px 0;
  padding: 8px 15px;
}
nav input::placeholder {
  font-size: 110%;
  color: rgba(0, 0, 0, 0.55);
}
nav input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.393);
}
nav .middle-nav-items button {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.251);
  border-left: none;
  margin: 6px 0;
  padding: 8px 20px;
}
.home-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  column-gap: 12px;
  row-gap: 30px;
  align-items: center;
  justify-items: center;
}
.video-duration {
  background-color: #171717ba;
  color: #f0f0f0;
  font-family: sans-serif;
  font-size: 13.5px;
  font-weight: bolder;
  padding: 0px 4px;
  border-radius: 2px;
}
button {
  transition: all 150ms ease-in-out;
}
.floating-sideBar {
  box-shadow: #0000006a 0px 0px 20000px 5000px;
  /* transform: translate(var(--sideBarX), 0); */
}
