@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav input {
  outline: none;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.251);
  margin: 6px 0;
  padding: 8px 15px;
}
nav input::placeholder {
  font-size: 110%;
  color: rgba(0, 0, 0, 0.55);
}
nav input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.393);
}
nav .middle-nav-items button {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.251);
  border-left: none;
  margin: 6px 0;
  padding: 8px 20px;
}
